body {
    margin: 0;
    background-image: url('assets/bg.jpg');
    background-position: top;
    background-size: 100%;
}

.content {
    width: 360px;
    display: flex;
    flex-direction: column;
    margin: 10px auto 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.tree {
    position: relative;
}

.tree-img {
    width: 360px;
    height: 587px;
}

.shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.toy {
    width: 75px;
    height: 100px;
    cursor: pointer;
    touch-action: none;
}

.blue {
    background-image: url('assets/blue.png');
    background-size: 75px 100px;
}

.green {
    background-image: url('assets/green.png');
    background-size: 75px 100px;
}

.pink {
    background-image: url('assets/pink.png');
    background-size: 75px 100px;
}

.red {
    background-image: url('assets/red.png');
    background-size: 75px 100px;
}

.violet {
    background-image: url('assets/violet.png');
    background-size: 75px 100px;
}

.yellow {
    background-image: url('assets/yellow.png');
    background-size: 75px 100px;
}

.star {
    width: 80px;
    height: 80px;
    background-image: url('assets/star.png');
    background-size: 80px 80px;
}