body {
    background-image: url('assets/bg.jpg');
    background-position: top;
    background-size: auto;
}

.content {
    width: 1105px;
    display: flex;
    justify-content: space-around;
    margin: 40px auto 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.tree {
    position: relative;
}

.tree-img {
    width: 496px;
    height: 810px;
}

.shelf {
    position: relative;
}

.shelf-img {
    width: 385px;
    height: 810px;
}

.toy {
    position: absolute;
    width: 42px;
    height: 50px;
    cursor: pointer;
    touch-action: none;
}

.green {
    top: 122px;
    left: 115px;
    background-image: url('assets/green.png');
    background-size: 42px 50px;
}

.red {
    top: 122px;
    left: 200px;
    background-image: url('assets/red.png');
    background-size: 42px 50px;
}

.red-white {
    top: 352px;
    left: 115px;
    background-image: url('assets/red-white.png');
    background-size: 42px 50px;
}

.gold {
    top: 352px;
    left: 250px;
    background-image: url('assets/gold.png');
    background-size: 42px 50px;
}

.green1 {
    bottom: 180px;
    left: 115px;
    background-image: url('assets/green1.png');
    background-size: 42px 50px;
}

.red2 {
    bottom: 180px;
    left: 250px;
    background-image: url('assets/red2.png');
    background-size: 42px 50px;
}

.star {
    bottom: 180px;
    left: 172px;
    width: 70px;
    height: 70px;
    background-image: url('assets/star.png');
    background-size: 70px 70px;
}

@media screen and (max-width: 1140px) {
    .content {
        width: 881px;
        justify-content: center;
    }
}

@media screen and (max-width: 881px) {
    .content {
        width: 496px;
        flex-direction: column;
    }
    /* TABLET */
}

@media screen and (max-width: 420px) {
    /* MOBILE */
}