.zero {
    color: white;
}

body {
    background-image: url('assets/bg.jpg');
    background-position: top;
    background-size: auto;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.shelf {
    position: relative;
}

.toy {
    position: absolute;
    width: 42px;
    height: 50px;
    cursor: pointer;
    touch-action: none;
}

.green {
    top: 122px;
    left: 215px;
    background-image: url('assets/green.png');
    background-size: 42px 50px;
}

.red {
    top: 122px;
    left: 300px;
    background-image: url('assets/red.png');
    background-size: 42px 50px;
}

.red-white {
    top: 352px;
    left: 215px;
    background-image: url('assets/red-white.png');
    background-size: 42px 50px;
}

.gold {
    top: 352px;
    left: 350px;
    background-image: url('assets/gold.png');
    background-size: 42px 50px;
}

.green1 {
    bottom: 180px;
    left: 215px;
    background-image: url('assets/green1.png');
    background-size: 42px 50px;
}

.red2 {
    bottom: 180px;
    left: 350px;
    background-image: url('assets/red2.png');
    background-size: 42px 50px;
}

.star {
    bottom: 180px;
    left: 272px;
    width: 70px;
    height: 70px;
    background-image: url('assets/star.png');
    background-size: 70px 70px;
}

.cell {
    position: absolute;
    width: 42px;
    height: 50px;
}

.cell-green {
    top: 150px;
    left: 210px;
    background-size: 42px 50px;
}

.cell-red {
    top: 260px;
    right: 150px;
    background-size: 42px 50px;
}

.cell-red-white {
    top: 350px;
    left: 170px;
    background-size: 42px 50px;
}

.cell-gold {
    top: 450px;
    right: 100px;
    background-size: 42px 50px;
}

.cell-green1 {
    bottom: 210px;
    left: 120px;
    background-size: 42px 50px;
}

.cell-red2 {
    bottom: 100px;
    right: 144px;
    background-size: 42px 50px;
}

.cell-star {
    left: 225px;
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
}